@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&family=Roboto:wght@400;500&display=swap");

.card-container {
  width: 25vw;
  height: 30vh;
  perspective: 1000px;
  cursor: pointer;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s linear;
  transform-style: preserve-3d;
}
.card-inner.flipped {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card-front {
  background: white;
}
.card-back {
  background: #222;
  color: #fff;
  padding: 15px;
  transform: rotateY(180deg);
}
.country-flag {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
